---
title: Transformation - Raumplan
layout: home
---

{% set lastfloor = '' %}

<div id="roomplan">
  {% for room in rooms_web %}
    {% if lastfloor != room.floor%}
        {% set lastfloor = room.floor %}
        <h2>{{room.floor}}</h2>
    {% endif %}
    <h3>{{room.room}}</h3>
    {% for seminar in room.seminars %}
      <h4><a href="seminar/{{ seminar.seminar | slugify }}/">{{seminar.seminar}}</a></h4>
      <ul class="room-exhibit-list">
          {% for exhibit in seminar.exhibits %}
          <li>
              <strong>{{exhibit.exhibit}}</strong><br />
              {{exhibit.students}}
          </li>
          {% endfor %}
      </ul>
    {% endfor %}
 {% endfor %}
</div>
