<!DOCTYPE html>
<html lang="de">
  {% include 'parts/head.njk' %}
  <body>
    <main>
      <img src="/images/logo-fhp-abbrev-black.svg" alt="Fachhochschule Potsdam" id="fhp-logo" />
      {{ content | safe }}
    </main>
  </body>
</html>
