@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Mont-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Mont-Book.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Mont-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Mont-Bold.woff') format('woff'); /* Modern Browsers */
}